button {
    border: none;
    font: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    padding: 0;
}

button:focus {
    outline: black;
    color: #c0c0c0;
    background-color: white;
}

.navbar {
    display: flex;
    width: 75%;
    align-content: center;
}